<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
</head>

<body class=" d-flex flex-column gap-1  vh-100">
    <header class=" m-lg-1 d-flex  bg-primary-subtle">
        <h1> Member only</h1>
        <div class="link-wrapper  d-flex gap-3 ms-auto me-5 ">


            <% if(currentUser) { %>
                <a href="/" class="text-decoration-none"> Home page</a>
                <a href="/log-out" class=""> Log out</a>
                <% } else { %>
                    <a href="/" class="text-decoration-none"> Home page</a>
                    <a href="/sign-up" class="text-decoration-none "> Sign Up</a>
                    <a href="/log-in" class="text-decoration-none ">Log in</a>
                    <% } %>
        </div>
    </header>
    <main class=" d-flex flex-column flex-grow-1 m-lg-1 gap-4 ">
        <% if (comments.length) { %>
            <ul class="list-group gap-4 flex-wrap flex-row">
                <!-- if not sign in :-->
                <!-- populate automatically later-->
                <!-- overflow: scroll?-->
                <% for (let i=0; i < comments.length; i++) { %>
                    <li class="list-group-item list-group-item-primary">
                        <p>
                            <%= comments[i].message%>
                        </p>
                        <% if (currentUser) { %>
                            <p class="author"> Made by: <%= comments[i].author %>
                            </p>
                            <% } else { %>
                                <p class="author"> Made by: <span class="blurry-text">anonymous</s>
                                        <% } %>
                                            <!-- <form action="delete" Method="POST">
                                                <button class="btn btn-primary"> Delete</button>
                                            </form> -->
                    </li>

                    <% } %>


            </ul>
            <% } else {%>
                <p>no comment yet, be the first one to comment.</p>
                <% } %>
                    <!-- if sign in-->
                    <% if (currentUser) {%>
                        <form method="POST" action="">
                            <p>Post comment:</p>
                            <div class="form-group border d-flex gap-2 flex-column">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Author</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default" name="authorinput">
                                </div>

                                <div class="input-group">
                                    <span class="input-group-text">Content</span>
                                    <textarea class="form-control" aria-label="With textarea" placeholder="Hello World!"
                                        name="contentinput"></textarea>
                                </div>

                                <button type="submit" class="btn-primary btn align-self-center">Post comment</button>

                            </div>
                        </form>
                        <% } else { %>
                            <div
                                class=" flex-grow-1 text-center flex-column justify-content-center align-items-center d-flex">
                                <p>Log in to post
                                    comment</p>
                            </div>

                            <% } %>

                                <% if(errors) { %>
                                    <ul class="list-group gap-4 flex-wrap flex-row ms-lg-2"> List of errors:</ul>
                                    <% for (let i=0; i < errors.length;i++) {%>


                                        <li class="list-group-item list-group-item-danger">
                                            hello
                                            <%= errors[i].msg %>
                                        </li>
                                        <% }; %>
                                            <% } %>
    </main>
    <footer class="text-center bg-secondary">
        Make by Heren
    </footer>


</body>

</html>